.square {
    background-color: white;
    border: 1px solid #999;
    font-size: 24px;
    height: 100px;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    float: left;
}