<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet"  href="static/css/style.css"/>
</head>

<body>
    <h1>It is a layout</h1>
    {{{body}}}
</body>

</html>




