$bg-color: #181818;
$bg-nav-color: #202020;
$bg-color-active: #ffffff1a;
$bg-sidebar-color: #212121;
$bg-color-hover: #ffffff25;
$text-color: #f5f5f5;
$subtext-color: #AAAAAA;
$font-size: 13px;
$font-size-small: 11px;
$icon-size: 2.5rem;

